@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');

:root {
    --body_background: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%) no-repeat;
    --white: #fff;
    --title: #7918F2;
    --border: #acacac;
    --text: #434343;
    --border_after: linear-gradient(to left, #AC32E4 0%, #7918F2 48%, #4801FF 100%);
    --button_background: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);
    --facebook: linear-gradient(to right, #1e3c72, #2a5298);
    --github: linear-gradient(to right, #434343 0%, black 100%);
    --black: #000;
    --error: #d00000;
    --success: #29bf12;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Mobile */

@media screen and (max-width: 425px){
    .container {
        background: var(--white);
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        min-height: 100vh;
        min-width: 100vw;
        padding: 60px 15px 10px 15px;
    }

    .title {
        color: var(--title);
        text-shadow: var(--title) 1px 1px 2px;
        text-align: center;
        font-size: 2.2em; 
    }

    .form {
        margin-bottom: 35px;
        width: 100%;
        position: relative;
    }

    input {
        color: var(--black);
        font-size: 1em;
        font-weight: 400;
        outline: none;
        width: 100%;
        height: 40px;
        margin-top: 20px;
    }

    .border {
        background: var(--border);
        height: 1px;
        width: 100%;
        position: absolute;
    }

    .border::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 0;
        background: var(--border_after);
        transition: .4s ease-in-out;
    }

    input:focus + .border::after {
        width: 100%;
    }

    .border.error::after {
        background: var(--error);
    }

    .submit {
        background: var(--button_background);
        color: var(--white);
        margin-top: 45px;
        width: 100%;
        height: 45px;
        border-radius: 15px;
        font-size: 1.2em;
        font-weight: 700;
    }

    .submit.error {
        background: var(--error);
    }

    .submit.success {
        background: var(--success);
    }

    .submit:disabled {
        background: var(--border);
        cursor: not-allowed;
    }

    .social-field p{
        color: var(--text);
        text-align: center;
        font-size: 1.1em;
        margin-bottom: 25px;
    }

    .social-div {
        padding: 8px;
        border-radius: 15px;
    }

    .social-div a {
        color: var(--white);
        text-decoration: none;
    }
    
    .social-div a i {
        padding: 0 10px 0 5px;
        transform: scale(1.1);
    }

    .facebook {
        background: var(--facebook);
        margin-bottom: 15px;
    }

    .github {
        background: var(--github);
    }
}

/* Tablets -- Laptops -- Desktops */

@media screen and (min-width: 426px) {
    body {
        background: var(--body_background) no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .container {
        background: var(--white);
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 30px;
        border-radius: 15px;
        width: 400px;
    }

    .title {
        color: var(--title);
        text-shadow: var(--title) 1px 1px 2px;
        text-align: center;
        font-size: 2.3em; 
    }

    .form {
        margin-bottom: 25px;
        width: 100%;
        position: relative;
    }

    input {
        color: var(--black);
        font-size: 1em;
        font-weight: 400;
        outline: none;
        width: 100%;
        height: 40px;
        margin-top: 20px;
    }

    .border {
        background: var(--border);
        height: 1px;
        width: 100%;
        position: absolute;
    }

    .border::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 0;
        background: var(--border_after);
        transition: .4s ease-in-out;
    }

    input:focus + .border::after {
        width: 100%;
    }

    .border.error::after {
        background: var(--error);
    }

    .submit {
        background: var(--button_background);
        color: var(--white);
        margin-top: 35px;
        width: 100%;
        height: 45px;
        border-radius: 15px;
        font-size: 1.2em;
        font-weight: 700;
        transition: .3s ease-in-out;
        cursor: pointer;
    }

    .submit:hover {
        transition: .3s ease-in-out;
        transform: scale(1.03);
    }

    .submit.error {
        background: var(--error);
    }

    .submit.success {
        background: var(--success);
    }

    .submit:disabled {
        background: var(--border);
        cursor: not-allowed;
        transform: none;
    }

    .social-field p{
        color: var(--text);
        text-align: center;
        font-size: 1.1em;
        margin-bottom: 10px;
    }

    .social-div {
        padding: 8px;
        border-radius: 15px;
        transition: .3s ease-in-out;
        cursor: pointer;
    }

    .social-div:hover {
        transition: .3 ease-in-out;
        transform: scale(1.03);
    }

    .social-div a {
        color: var(--white);
        text-decoration: none;
    }
    
    .social-div a i {
        padding: 0 10px 0 5px;
        transform: scale(1.1);
    }

    .facebook {
        background: var(--facebook);
        margin-bottom: 10px;
    }

    .github {
        background: var(--github);
    }
}